# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore Virtual Environment (if using venv)
env/
venv/

# Ignore Jupyter Notebook checkpoints (if using)
.ipynb_checkpoints/

# Ignore Mac system files
.DS_Store

